tweet = api.get_status('892420643555336193') #it will return the text
tweet2 = api.get_status('892420643555336193', tweet_mode= 'extended') # it will return JSON

t_id data type is int, converted to list turn into float, cannot be used in get_status

melt the dog stage, merge with archive_clean, rows is 2370 > 2356, an addition of 14 rows. check dog_stage_data, find out there are 14 tweet_id duplicates because more than 1 dog_stage of one tweet_id. those should be dropped from the archive_clean.

### Quality issues
- row 2335, rating_numerator is 1 and rating_denominator is 2
- one of the rating_numerator is 1776 and rating_denominator is 170
- rating_denominator cannot be 0.
- some of the values in names are inaccurate (such as a, an, such, the, quite)
- the records are not complete (archive has 2356 rows, prediction has 2075 rows, retweet has 2342 rows)
- timestamp and retweeted timestamp should be time format
- expanded_urls has 2297 rows less than 2356
- the datatype of in_reply_to_status_id, in_reply_to_user_id,retweeted_status_id and retweeted_status_user_id should be int




### Tidiness issues
- dooggo floofer pupper puppo should be the value of one valuables
- p1,p2 etc should be the value of picture number and the related conf should be the value of conf
- retweet table should be combined with the archive table

In [1]:
import pandas as pd
archive = pd.read_csv('twitter-archive-enhanced.csv') 
prediction = pd.read_csv('image-predictions.tsv',sep = '\t') 
retweet = pd.read_csv('retweet_favorite_count.csv')

In [2]:
df_clean = archive.copy()
pre_clean = prediction.copy()
retweet_clean = retweet.copy()

In [4]:
df_clean.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [8]:
df_clean[df_clean.tweet_id == 854010172552949760]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
200,854010172552949760,NaN,NaN,2017-04-17 16:34:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...","At first I thought this was a shy doggo, but i...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/854010172...,11,10,None,doggo,floofer,None,None

In [6]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [4]:
df_clean.iloc[2335]

tweet_id                                                     666287406224695296
in_reply_to_status_id                                                       NaN
in_reply_to_user_id                                                         NaN
timestamp                                             2015-11-16 16:11:11 +0000
source                        <a href="http://twitter.com/download/iphone" r...
text                          This is an Albanian 3 1/2 legged  Episcopalian...
retweeted_status_id                                                         NaN
retweeted_status_user_id                                                    NaN
retweeted_status_timestamp                                                  NaN
expanded_urls                 https://twitter.com/dog_rates/status/666287406...
rating_numerator                                                              1
rating_denominator                                                            2
name                                                                         an
doggo                                                                      None
floofer                                                                    None
pupper                                                                     None
puppo                                                                      None
Name: 2335, dtype: object

In [5]:
df_clean.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [7]:
df_clean.head(20)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
5,891087950875897856,NaN,NaN,2017-07-29 00:08:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a majestic great white breaching ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891087950...,13,10,None,None,None,None,None
6,890971913173991426,NaN,NaN,2017-07-28 16:27:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Jax. He enjoys ice cream so much he gets ...,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,ht...",13,10,Jax,None,None,None,None
7,890729181411237888,NaN,NaN,2017-07-28 00:22:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",When you watch your owner call another dog a g...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890729181...,13,10,None,None,None,None,None
8,890609185150312448,NaN,NaN,2017-07-27 16:25:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zoey. She doesn't want to be one of th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185...,13,10,Zoey,None,None,None,None
9,890240255349198849,NaN,NaN,2017-07-26 15:59:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Cassie. She is a college pup. Studying...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255...,14,10,Cassie,doggo,None,None,None
10,890006608113172480,NaN,NaN,2017-07-26 00:31:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Koda. He is a South Australian decksha...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890006608...,13,10,Koda,None,None,None,None
11,889880896479866881,NaN,NaN,2017-07-25 16:11:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bruno. He is a service shark. Only get...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896...,13,10,Bruno,None,None,None,None
12,889665388333682689,NaN,NaN,2017-07-25 01:55:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here's a puppo that seems to be on the fence a...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889665388...,13,10,None,None,None,None,puppo
13,889638837579907072,NaN,NaN,2017-07-25 00:10:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ted. He does his best. Sometimes that'...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889638837...,12,10,Ted,None,None,None,None
14,889531135344209921,NaN,NaN,2017-07-24 17:02:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Stuart. He's sporting his favorite fan...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135...,13,10,Stuart,None,None,None,puppo
15,889278841981685760,NaN,NaN,2017-07-24 00:19:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Oliver. You're witnessing one of his m...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841...,13,10,Oliver,None,None,None,None
16,888917238123831296,NaN,NaN,2017-07-23 00:22:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jim. He found a fren. Taught him how t...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238...,12,10,Jim,None,None,None,None
17,888804989199671297,NaN,NaN,2017-07-22 16:56:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Zeke. He has a new stick. Very proud o...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888804989...,13,10,Zeke,None,None,None,None
18,888554962724278272,NaN,NaN,2017-07-22 00:23:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Ralphus. He's powering up. Attempting ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888554962...,13,10,Ralphus,None,None,None,None
19,888202515573088257,NaN,NaN,2017-07-21 01:02:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @dog_rates: This is Canela. She attempted s...,8.874740e+17,4.196984e+09,2017-07-19 00:47:34 +0000,https://twitter.com/dog_rates/status/887473957...,13,10,Canela,None,None,None,None

In [6]:
pre_clean.columns

Index(['tweet_id', 'jpg_url', 'img_num', 'p1', 'p1_conf', 'p1_dog', 'p2',
       'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'],
      dtype='object')

In [8]:
pre_clean.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [14]:
pd.melt(pre_clean, id_vars = 'tweet_id', value_vars = ('p1', 'p2', 'p3'), var_name = 'pre_numb', value_name = 'pre_result')

                tweet_id pre_numb                   pre_result
0     666020888022790149       p1       Welsh_springer_spaniel
1     666029285002620928       p1                      redbone
2     666033412701032449       p1              German_shepherd
3     666044226329800704       p1          Rhodesian_ridgeback
4     666049248165822465       p1           miniature_pinscher
5     666050758794694657       p1         Bernese_mountain_dog
6     666051853826850816       p1                   box_turtle
7     666055525042405380       p1                         chow
8     666057090499244032       p1                shopping_cart
9     666058600524156928       p1             miniature_poodle
10    666063827256086533       p1             golden_retriever
11    666071193221509120       p1                Gordon_setter
12    666073100786774016       p1                 Walker_hound
13    666082916733198337       p1                          pug
14    666094000022159362       p1                   bloodhound
15    666099513787052032       p1                        Lhasa
16    666102155909144576       p1               English_setter
17    666104133288665088       p1                          hen
18    666268910803644416       p1             desktop_computer
19    666273097616637952       p1            Italian_greyhound
20    666287406224695296       p1                  Maltese_dog
21    666293911632134144       p1             three-toed_sloth
22    666337882303524864       p1                           ox
23    666345417576210432       p1             golden_retriever
24    666353288456101888       p1                     malamute
25    666362758909284353       p1                   guinea_pig
26    666373753744588802       p1  soft-coated_wheaten_terrier
27    666396247373291520       p1                    Chihuahua
28    666407126856765440       p1      black-and-tan_coonhound
29    666411507551481857       p1                         coho
...                  ...      ...                          ...
6195  886366144734445568       p3                  Boston_bull
6196  886680336477933568       p3                    car_wheel
6197  886736880519319552       p3               Dandie_Dinmont
6198  886983233522544640       p3                   can_opener
6199  887101392804085760       p3    Staffordshire_bullterrier
6200  887343217045368832       p3                   Weimaraner
6201  887473957103951883       p3                       beagle
6202  887517139158093824       p3                shopping_cart
6203  887705289381826560       p3                   Weimaraner
6204  888078434458587136       p3                 bull_mastiff
6205  888202515573088257       p3                       beagle
6206  888554962724278272       p3                     malamute
6207  888804989199671297       p3               English_setter
6208  888917238123831296       p3           Labrador_retriever
6209  889278841981685760       p3                       Saluki
6210  889531135344209921       p3                      redbone
6211  889638837579907072       p3    Staffordshire_bullterrier
6212  889665388333682689       p3                      basenji
6213  889880896479866881       p3                       muzzle
6214  890006608113172480       p3                         chow
6215  890240255349198849       p3                    Chihuahua
6216  890609185150312448       p3     Chesapeake_Bay_retriever
6217  890729181411237888       p3                     Pembroke
6218  890971913173991426       p3                    ice_lolly
6219  891087950875897856       p3              Indian_elephant
6220  891327558926688256       p3  German_short-haired_pointer
6221  891689557279858688       p3                      spatula
6222  891815181378084864       p3                       kelpie
6223  892177421306343426       p3                     papillon
6224  892420643555336193       p3                       banana

[6225 rows x 3 columns]

In [15]:
pd.melt(pre_clean, id_vars = 'tweet_id', value_vars = ('p1_conf', 'p2_conf', 'p3_conf'),
        var_name = 'conf', value_name = 'conf_result')

                tweet_id     conf  conf_result
0     666020888022790149  p1_conf     0.465074
1     666029285002620928  p1_conf     0.506826
2     666033412701032449  p1_conf     0.596461
3     666044226329800704  p1_conf     0.408143
4     666049248165822465  p1_conf     0.560311
5     666050758794694657  p1_conf     0.651137
6     666051853826850816  p1_conf     0.933012
7     666055525042405380  p1_conf     0.692517
8     666057090499244032  p1_conf     0.962465
9     666058600524156928  p1_conf     0.201493
10    666063827256086533  p1_conf     0.775930
11    666071193221509120  p1_conf     0.503672
12    666073100786774016  p1_conf     0.260857
13    666082916733198337  p1_conf     0.489814
14    666094000022159362  p1_conf     0.195217
15    666099513787052032  p1_conf     0.582330
16    666102155909144576  p1_conf     0.298617
17    666104133288665088  p1_conf     0.965932
18    666268910803644416  p1_conf     0.086502
19    666273097616637952  p1_conf     0.176053
20    666287406224695296  p1_conf     0.857531
21    666293911632134144  p1_conf     0.914671
22    666337882303524864  p1_conf     0.416669
23    666345417576210432  p1_conf     0.858744
24    666353288456101888  p1_conf     0.336874
25    666362758909284353  p1_conf     0.996496
26    666373753744588802  p1_conf     0.326467
27    666396247373291520  p1_conf     0.978108
28    666407126856765440  p1_conf     0.529139
29    666411507551481857  p1_conf     0.404640
...                  ...      ...          ...
6195  886366144734445568  p3_conf     0.000076
6196  886680336477933568  p3_conf     0.044173
6197  886736880519319552  p3_conf     0.086346
6198  886983233522544640  p3_conf     0.032253
6199  887101392804085760  p3_conf     0.029705
6200  887343217045368832  p3_conf     0.134203
6201  887473957103951883  p3_conf     0.038915
6202  887517139158093824  p3_conf     0.026321
6203  887705289381826560  p3_conf     0.026236
6204  888078434458587136  p3_conf     0.000903
6205  888202515573088257  p3_conf     0.038915
6206  888554962724278272  p3_conf     0.111411
6207  888804989199671297  p3_conf     0.073482
6208  888917238123831296  p3_conf     0.105506
6209  889278841981685760  p3_conf     0.027351
6210  889531135344209921  p3_conf     0.007958
6211  889638837579907072  p3_conf     0.001498
6212  889665388333682689  p3_conf     0.004633
6213  889880896479866881  p3_conf     0.082981
6214  890006608113172480  p3_conf     0.008167
6215  890240255349198849  p3_conf     0.029248
6216  890609185150312448  p3_conf     0.118184
6217  890729181411237888  p3_conf     0.076507
6218  890971913173991426  p3_conf     0.193548
6219  891087950875897856  p3_conf     0.076902
6220  891327558926688256  p3_conf     0.175219
6221  891689557279858688  p3_conf     0.040836
6222  891815181378084864  p3_conf     0.031379
6223  892177421306343426  p3_conf     0.068957
6224  892420643555336193  p3_conf     0.076110

[6225 rows x 3 columns]

In [3]:
pd.melt(pre_clean, id_vars = 'tweet_id', value_vars = ['p1_dog', 'p2_dog', 'p3_dog'],
        value_name = 'breed_dog')

                tweet_id variable  breed_dog
0     666020888022790149   p1_dog       True
1     666029285002620928   p1_dog       True
2     666033412701032449   p1_dog       True
3     666044226329800704   p1_dog       True
4     666049248165822465   p1_dog       True
5     666050758794694657   p1_dog       True
6     666051853826850816   p1_dog      False
7     666055525042405380   p1_dog       True
8     666057090499244032   p1_dog      False
9     666058600524156928   p1_dog       True
10    666063827256086533   p1_dog       True
11    666071193221509120   p1_dog       True
12    666073100786774016   p1_dog       True
13    666082916733198337   p1_dog       True
14    666094000022159362   p1_dog       True
15    666099513787052032   p1_dog       True
16    666102155909144576   p1_dog       True
17    666104133288665088   p1_dog      False
18    666268910803644416   p1_dog      False
19    666273097616637952   p1_dog       True
20    666287406224695296   p1_dog       True
21    666293911632134144   p1_dog      False
22    666337882303524864   p1_dog      False
23    666345417576210432   p1_dog       True
24    666353288456101888   p1_dog       True
25    666362758909284353   p1_dog      False
26    666373753744588802   p1_dog       True
27    666396247373291520   p1_dog       True
28    666407126856765440   p1_dog       True
29    666411507551481857   p1_dog      False
...                  ...      ...        ...
6195  886366144734445568   p3_dog       True
6196  886680336477933568   p3_dog      False
6197  886736880519319552   p3_dog       True
6198  886983233522544640   p3_dog      False
6199  887101392804085760   p3_dog       True
6200  887343217045368832   p3_dog       True
6201  887473957103951883   p3_dog       True
6202  887517139158093824   p3_dog      False
6203  887705289381826560   p3_dog       True
6204  888078434458587136   p3_dog       True
6205  888202515573088257   p3_dog       True
6206  888554962724278272   p3_dog       True
6207  888804989199671297   p3_dog       True
6208  888917238123831296   p3_dog       True
6209  889278841981685760   p3_dog       True
6210  889531135344209921   p3_dog       True
6211  889638837579907072   p3_dog       True
6212  889665388333682689   p3_dog       True
6213  889880896479866881   p3_dog      False
6214  890006608113172480   p3_dog       True
6215  890240255349198849   p3_dog       True
6216  890609185150312448   p3_dog       True
6217  890729181411237888   p3_dog       True
6218  890971913173991426   p3_dog      False
6219  891087950875897856   p3_dog      False
6220  891327558926688256   p3_dog       True
6221  891689557279858688   p3_dog      False
6222  891815181378084864   p3_dog       True
6223  892177421306343426   p3_dog       True
6224  892420643555336193   p3_dog      False

[6225 rows x 3 columns]

In [4]:
df = pd.DataFrame({'City': ['Houston', 'Austin', 'Hoover'],
                   'State': ['Texas', 'Texas', 'Alabama'],
                   'Name':['Aria', 'Penelope', 'Niko'],
                   'Mango':[4, 10, 90],
                   'Orange': [10, 8, 14], 
                   'Watermelon':[40, 99, 43],
                   'Gin':[16, 200, 34],
                   'Vodka':[20, 33, 18]},
                 columns=['City', 'State', 'Name', 'Mango', 'Orange', 'Watermelon', 'Gin', 'Vodka'])

In [5]:
df.melt(id_vars=['City', 'State'], value_vars=[['Mango', 'Orange', 'Watermelon'], ['Gin', 'Vodka']], 
                    var_name=['Fruit', 'Drink'], value_name=['Pounds', 'Ounces'])

ValueError: Location based indexing can only have [labels (MUST BE IN THE INDEX), slices of labels (BOTH endpoints included! Can be slices of integers if the index is integers), listlike of labels, boolean] types

In [6]:
pd.DataFrame(pre_clean.unstack())

                                0
tweet_id 0     666020888022790149
         1     666029285002620928
         2     666033412701032449
         3     666044226329800704
         4     666049248165822465
         5     666050758794694657
         6     666051853826850816
         7     666055525042405380
         8     666057090499244032
         9     666058600524156928
         10    666063827256086533
         11    666071193221509120
         12    666073100786774016
         13    666082916733198337
         14    666094000022159362
         15    666099513787052032
         16    666102155909144576
         17    666104133288665088
         18    666268910803644416
         19    666273097616637952
         20    666287406224695296
         21    666293911632134144
         22    666337882303524864
         23    666345417576210432
         24    666353288456101888
         25    666362758909284353
         26    666373753744588802
         27    666396247373291520
         28    666407126856765440
         29    666411507551481857
...                           ...
p3_dog   2045                True
         2046               False
         2047                True
         2048               False
         2049                True
         2050                True
         2051                True
         2052               False
         2053                True
         2054                True
         2055                True
         2056                True
         2057                True
         2058                True
         2059                True
         2060                True
         2061                True
         2062                True
         2063               False
         2064                True
         2065                True
         2066                True
         2067                True
         2068               False
         2069               False
         2070                True
         2071               False
         2072                True
         2073                True
         2074               False

[24900 rows x 1 columns]

In [9]:
import pandas as pd
df = pd.DataFrame([(101, 'a','b','c',1,2,3,'aa','bb','cc'), (102, 'd', 'e', 'f', 4, 5, 6, 'dd', 'ee', 'ff')],
                  columns=['id', 'a_1', 'a_2', 'a_3','b_1', 'b_2', 'b_3','c_1', 'c_2', 'c_3'])
df

    id a_1 a_2 a_3  b_1  b_2  b_3 c_1 c_2 c_3
0  101   a   b   c    1    2    3  aa  bb  cc
1  102   d   e   f    4    5    6  dd  ee  ff

In [10]:
pd.wide_to_long(df, stubnames=['a', 'b', 'c'], i='id', j='dropme', sep='_')\
  .reset_index()\
  .drop('dropme', axis=1)\
  .sort_values('id')

    id  a  b   c
0  101  a  1  aa
2  101  b  2  bb
4  101  c  3  cc
1  102  d  4  dd
3  102  e  5  ee
5  102  f  6  ff